:root {
    --gray-50: #fafafa;
    --gray-100: #f4f4f5;
    --gray-200: #e2e8f0;
    --gray-400: #a1a1aa;
    --gray-600: #52525b;
    --gray-800: #27272a;
    --main-100: #f0f9ff;
    --main-200: #e0f2fe;
    --main-400: #7dd3fc;
    --main: #00c2ff;
    --main-600: #0284c7
}

* {
    box-sizing: border-box
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Segoe UI, Roboto, Noto Sans, Helvetica Neue;
    color: var(--gray-600);
    -webkit-font-smoothing: antialiased;
    max-width: 70em;
    margin: 0 auto;
    padding: 4%
}

h1 {
    font-size: 3rem;
    font-weight: 720;
    line-height: 1.2;
    letter-spacing: -.025em;
    color: var(--gray-800);
    max-width: 12em;
    margin-bottom: .5em
}

p {
    line-height: 1.7;
    max-width: 38em;
    margin: 0 0 1em
}


a {
    text-decoration: none
}

strong {
    color: black
}

figure {
    margin: 0
}

img {
    max-width: 100%
}

ul {
    padding: 0
}

/* Header */


body > header {
    gap: 1.5em;
    display: flex
}


/* Footer */


body>footer {
    border-top: 1px solid var(--gray-200, #ddd);
    margin-top: 8em
}

body > footer p {
    font-size: 90%;
    text-align: center;
    opacity: .7;
    max-width: inherit
}

@media (min-width: 768px) {
    body>footer {
        justify-content: space-between;
        align-items: baseline;
        display: flex
    }
}

@media (max-width: 768px) {
    body>footer {
        text-align: center
    }
}

 