<!DOCTYPE html>
<html lang="fr" xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml"  class="noJs">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>{{.Title}} - {{ .Site.Title }}</title>

    <!-- Favicon -->
    <link rel="icon" href="data:;base64,=">
   
    <!-- CSS -->     
    <link rel="stylesheet" href="/css/my_stylesheet.css" type="text/css">

    <!-- RSS -->     
    <link rel="alternate" type="application/rss+xml" href="{{.Site.BaseURL }}index.xml" title="{{ .Site.Title }}">

</head> 

<body>

    {{ partial "topbar.html" . }}
    {{ block "main" . }}{{ end }}
    
    <!-- Global JS -->
    {{ $global := resources.Get "js/global.js"}}
    <script src="{{ $global.Permalink }}"></script> 

</body>

</html> 
 