{{ define "main" }}
    <!-- Ce template est utilisé si aucun template spécific à la section n'est trouvé -->
    <main>
    	<article>
            <header>
                <h1>{{.Title}}</h1>
            </header>
            {{.Content}}
        </article>
        <ul>
        {{ range .Pages }}
            <li>
                <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
            </li>
        {{ end }}
        </ul>
    </main>


  <footer>
    <p>
        Ce template est utilisé si aucun template spécifique à la section n'est trouvé. Vous pouvez le modifier via <code>layout/_default/list.html</code>
    </p>
  <footer>
{{ end}}