{{ define "main" }}
  <!--  -->
	<main>
		<article>
			<div class="container">				
			<h1>{{ .Title }}</h1>
			{{ .Content}}			
			</div>
		</article>
	</main>

  <footer>
  	<p>
  		Ce template est utilisé si aucun template spécifique à la section n'est trouvé. Vous pouvez le modifier via <code>layout/_default/single.html</code>
  	</p>
  <footer>
  	
{{ end}}