{{ define "main" }}
  <!-- Ce template est spécific à la page projet -->
	<main>
		<article>	
			<h1>{{ .Title }}</h1>
			{{ .Content}}			
		</article>
	</main>

  <footer>
  	<p>
  		Ce template est spécifique à la page Projet. Vous pouvez le modifier via <code>layout/projets/single.html</code>
  	</p>
  <footer>
{{ end}}