{{ define "main" }}
	<main>
		<header aria-label="Introduction générale">
			<h1>{{ .Title }}</h1>
		</header>

		{{ .Content }}

		<h2>Liste des projets</h2>
		<ul>
			{{ range (where $.Site.Pages "Section" "projets" ).ByDate.Reverse}}
				{{ if ne .Params.type "projet_list" }}
					<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
				{{ end  }}
			{{ end  }}
		</ul>
	</main>

  <footer>
  	<p>
  		Ce template est spécifique à la page d'accueil. Vous pouvez le modifier via <code>layout/index.html</code>
  	</p>
  <footer>

{{end}}
