{{ $media := .Page.Resources.Match (printf "%s" (.Get "src")) }}
{{ $class := .Get "class" }}
{{ $legende := .Get "legende" }}
{{ $alt := .Get "alt" }}

{{ range $media }}
<figure  class='img {{ $class }}'>
  {{ $image_500 := .Resize "500x webp q85" }}
  {{ $image_900 := .Resize "900x webp q85" }}
  {{ $image_1100 := .Resize "1100x webp q85" }}
    <img 
      srcset='{{ $image_500.Permalink }} 500w, 
              {{ $image_900.Permalink }} 900w, 
              {{ $image_1100.Permalink }} 1400w'

      sizes=' (max-width: 500px) 500px,
              (max-width: 900px) 900px,
              (min-width: 1099px) 1100px'
      src='{{ $image_1100.Permalink }}' 
      alt='{{ $alt }}'
      loading='lazy'
      width="250" height="400">
  {{ if $legende }}
  <figcaption>{{ $legende | markdownify}}</figcaption>
  {{ end }}
</figure>
{{ end }}
